* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#cbd1d2;
    font-family: Arial, sans-serif;
    height: 100vh;
}

main{
   margin:auto;
   width:1200px;

}

.header {
    background: #474141;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;

}

.product-card {
    height:340px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(123, 123, 123, 0.436);
    transition:transform 0.6s ease, box-shadow 0.6s ease;
}

.product-badge {
    position: absolute;   
    top: 15px;
    right: 15px;
    background: #cd0d0d; 
    color: white;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation:pluse 1.5s ease-in-out infinite;
}

.product-icon {
    font-size: 50px;  
    display: block;    
    margin-bottom: 30px;
    margin-top: 20px;
    transition:transform 0.3s ease;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translatey(0px);
    }
    50%{
        transform:translatey(-10px);
    }
}    

@keyframes pluse{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
}


h2{
    margin-bottom: 25px;
}

.pro-desc{
    line-height: 20px;
    color: #7c7474;
    margin-bottom: 20px;
}

.pro-price {
    color: #9aa0d5;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    background: #e65bf8;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width:100%;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    background-color: rgb(24, 191, 157);
}

.comparison-section {
    padding: 20px;
    width:100%;
    padding-left: 8px;
}

.comparison-section h2 {
    background: white;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}
table{
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

.comparison-table {
    padding: 10px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;

}
.comparison-table th {
    background: #5b6ef8;
    color: white;
    padding: 20px;
   
}

.comparison-table td {
    padding: 12px;
    border: 1px solid #d7dbe1;
    text-align: center;
}

.footer {
    background: #1a1919;
    color: white;
    text-align: center;
    padding: 12px;
}
.bn td{
    border-bottom: none;
}